<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
    Blog Main Page
{% endblock %}

{% block nav_blog_active %}active{% endblock %}

{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}
{% block header_extends %} 
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-xl-10">
		<div class="panel panel-default">
		    <div class="panel-heading">{% block blog_list_title %}All Blogs (Total Number of Blogs: {{ page_of_blogs.paginator.count }})
		    {% endblock %}</div>
		    <div class="panel-body">
                        {% for blog in blogs %}
			    <div class="blog">
		                <h3><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h3>
			        <p class="blog-info">
				    <span class="glyphicon glyphicon-tag"></span>
				    <a href="{% url 'blogs_with_type' blog.blog_type %}">{{ blog.blog_type }}</a>&nbsp;&nbsp;
			
				    <span class="glyphicon glyphicon-time"></span>
				    {{blog.created_time|date:"Y-m-d" }}&nbsp;&nbsp;
				    Views({{ blog.get_read_num }})&nbsp;&nbsp;
				    Comments({% get_comment_count blog %})&nbsp;&nbsp;
				    Likes({% get_like_count blog %})&nbsp;&nbsp;
				</p>
                                <p>{{ blog.content|striptags|truncatechars:80 }}</p>
			    </div>	
                        {% empty %}
			    <div class="blog">	    
                                <h3>--No Current Blogs Available, Come Back Later!--</h3>
			    </div>
                        {% endfor %}
		    </div>
		</div>
		<div class="paginator">
                    <ul class="pagination">
                        <li>
                            {% if page_of_blogs.has_previous %}
			    <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>
                            {% for page_num in page_range %}
			        {% if page_num == page_of_blogs.number %}
				    <li class="active"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
				{% else %}
				    {% if page_num == '...' %}
				    <li><span>{{ page_num }}</span></li>
				    {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
				    {% endif %}
				{% endif %}
                            {% endfor %}
                        <li>
                            {% if page_of_blogs.has_next %}
			    <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                    </ul>
		        <p>
			    Page {{ page_of_blogs.number }} of  {{ page_of_blogs.paginator.num_pages }}
			</p>
                </div> 
            </div>
	    <div class="hidden-xs col-sm-4 col-md-3 col-xl-2">
		<div class="panel panel-default">
	            <div class="panel-heading">Blog Type</div>
		    <div class="panel-body">
		        <ul class="blog-types">
	                    {% for blog_type in blog_types %}
			    <li><a href="{% url 'blogs_with_type' blog_type.type_name %}">{{ blog_type.type_name }}({{ blog_type.blog_count }})
	                    </a></li>
		            {% empty %}
		                <li>No Blog Type Available</li>
		            {% endfor %}
		        </ul>
		    </div>
		</div>
		<div class="panel panel-default">
	            <div class="panel-heading">Published Date</div>
                    <div class="panel-body">
		        <ul>
			    {% for blog_date, blog_count in blog_dates.items %}
			        <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">
			            {{ blog_date|date:"Y-m" }}({{ blog_count }})
				</a>
			    {% endfor %}
			</ul>
		    </div>
		</div>
	    </div>
        </div>
    </div>
{% endblock %}
